.ngel-datepickerpanel {
  position: absolute;
  top: 16%;
  right: 9%;
  background: $color-ui-background-default;
  padding: 1rem;
}

.SingleDatePicker { padding-right: 4rem; }

.SingleDatePickerInput { width: 117%; }